500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

200 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "sarinho.bmp"

210 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "sarinho2.bmp"

110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Fundo.bmp"

120 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "canoBaixo.bmp"

130 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "canoCima.bmp"
