500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MAINICON.ICO"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "tweety78.bmp"

200 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "sarinho.bmp"

110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "Fundo.bmp"
